h1.title {
  font-size: 65px;
  color: #FFCB05;
}
#title-slide .title { 
  font-size: 4.5em;
  color: #FFCB05;
}
.subtitle {
  font-size: 3.5em;
  color: #FFCB05;
}
.quarto-title-author-name, .date {
  font-size: 1.5em;
  color: #FFCB05;
}