.book .book-summary ul.summary {
  background-color: #00274c;
}
.book .book-summary ul.summary li a{
  color: white;
}
.book .book-body .page-wrapper {
  background-color: white;
}
.book .book-body .page-wrapper section.normal {
  background-color: white;
}
.book .book-body .page-wrapper .page-inner section {
  background-color: white;
}
.book .book-body .page-wrapper .page-inner section img {
  background-color: white;
}
.book .book-body {
  background-color: white;
}
h1 {
  color: #00274c;
  font-family: "Helvetica", "Arial", sans-serif; 
  font-weight: bold;
}
h2 {
  color: #00274c;
  font-family: "Helvetica", "Arial", sans-serif; 
  font-weight: bold;
}
h3 {
  color: black;
  font-family: "Helvetica", "Arial", sans-serif; 
  font-weight: normal;
}
p {
  font-family: "Helvetica", "Arial", sans-serif; 
  font-size: 110%;
}
a:link {
    color: #00274c;
}
li {
  font-family: "Helvetica", "Arial", sans-serif; 
  font-size: 110%;
}
.book .book-body .page-wrapper .page-inner section.normal blockquote {
    margin: 0 0 .85em;
    padding: 0 15px;
    opacity: 1.00;
    border-left: 5px solid #ffcb05;
}
blockquote { 
    margin: 0 0 .85em;
    padding: 0 15px;
    opacity: 1.00;
    border-left: 5px solid #ffcb05;
}
.caption { 
  display: block;
  color: #00274c;
  font-weight: bold;
}
.list-group-item.active, 
.list-group-item.active:focus, 
.list-group-item.active:hover {
    z-index: 2;
    color: #fff;
    background-color: navy;
    border-color: #ffcb05;
}
