@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
h1, h2, h3 {
  font-family: 'Yanone Kaffeesatz';
  font-weight: normal;
}
body { 
  font-family: 'Droid Serif', 'Palatino Linotype', 'Book Antiqua', 'Palatino', 'Microsoft YaHei', 'Songti SC', serif; 
}
.author, .date {
  font-family: 'Yanone Kaffeesatz';
  font-weight: normal;
}
slide.title-slide{
    background-color: cyan; 
}
.title-slide {
  background-color: cyan; 
}
.slide.titlepage {
  color: black;
  font-size: 200%;
  font-weight: bold;
  background-color: #578AD6; /* #418FDE */
}
blockquote {
  background: #FFFFFF;
  color: #000;
  border-left: 5px solid #ffcb05;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}
#nextsteps {
   color: black;
   background-color: #FFFF00;
   text-align: left;
   font-size: 125%;
}
#majorsection {
   color: black;
   background-position: center;
   background-color: #578AD6;
   text-align: center;
   font-size: 300%;
}
.emphasized {
   font-size: 200%;
   text-align: center;
}


