h1.title {
  color: black;
  background-color: #FFCB05;
}

.quarto-title-author-name {
  color: black;
  background-color: #FFCB05;
}

p.author, p.date {
  color: black;
  background-color: #FFCB05;
}

#be-kind-be-motivated-be-less-wrong > h1{
    color: black;
    background-color: #FFCB05;
    font-size: 50px;
}

#be-kind-be-motivated-be-less-wrong > blockquote {
  color: white;
  border-left: 3px solid #FFCB05; 
  padding: 0.5em 10px;
}

#be-motivated > blockquote {
  color: black;
  border-left: 3px solid #FFCB05; 
  padding: 0.5em 10px;
}

#imposter-syndrome > blockquote {
  color: black;
  border-left: 3px solid #FFCB05; 
  padding: 0.5em 10px;
}

#complex-answers-hidden-inside-simple-questions > h1{
    font-size: 50px;
}

#be-kind > blockquote {
  color: black;
  border-left: 3px solid #FFCB05; 
  padding: 0.5em 10px;
}

#second-column > blockquote > p {
  color: black;
  border-left: 3px solid #FFCB05; 
  padding: 0.5em 10px;
}
